.welcome {
  height: 800px;
  text-align: center;
}
.welcome {
  padding: 60px 50px;
  background-color: #dfdddd
}
.welcome h1 {
  font-size: 55px;
  font-weight: 800;
  color: #b9a889;
}
.welcome p {
  color: #b9a889;
  font-size: 20px;
  font-weight: 600;
}
.welcome-intro {
  padding: 30px 0px;
}
.welcome-image {
    padding: 10px;
  border: 2px solid #b9a889;
}
.short-para{
    font-weight:bolder;
    color: #d0d497;

}
.welcome-content {
/* background-color: rgb(143, 121, 121); */
background-color: white;
padding: 20px;
}
.welcome-content h1{
    margin: 20px 0px;
}
.service-section{
  padding: 20px 50px;
  text-align: center;
  background-color: rgb(48, 47, 47);
}
.service-section h1 {
  font-size: 55px;
  font-weight: 800;
  color: #b9a889;
}
.service-section p {
  color: #b9a889;
  font-size: 20px;
  font-weight: 600;
}



.moja-koro{
  margin-bottom : 800px;
}